@import '../assets/front/cate_Pro/stylesheet.css';
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h1, h3, h4, h5, h6, p {
  font-size: inherit;
}

input, button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

button, input[type=submit] {
  background: none;
  cursor: pointer;
}

body {
  font-family: "Aileron";
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

.conteiner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.conteiner--fluid {
  max-width: unset;
  width: 100%;
}
.conteiner--no-pading {
  padding: 0;
}

* {
  background-repeat: no-repeat;
}

@media only screen and (max-width: 450px) {
  .conteiner {
    max-width: 450px;
  }
}
.nav-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.1px solid rgba(70, 163, 88, 0.5019607843);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #3d3d3d;
}

.nav__mid-list .nav-list {
  margin-right: 51px;
  -webkit-transition: border-bottom 0.1s ease-out, font-weight 0.1s ease-out;
  transition: border-bottom 0.1s ease-out, font-weight 0.1s ease-out;
}
.nav__mid-list .nav-list:hover {
  font-weight: 700;
  -webkit-transition: border-bottom 0.1s ease-out, font-weight 0.1s ease-out;
  transition: border-bottom 0.1s ease-out, font-weight 0.1s ease-out;
  border-bottom: 3px solid #46a358;
}
.nav__mid-list .nav-list:last-child {
  margin-right: 0px;
}

.nav__right-list .nav-list {
  margin-right: 30px;
}
.nav__right-list .nav-list:last-child {
  margin-right: 0px;
}

.nav__mid-list,
.nav__right-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-icon {
  color: #46a358;
  font-family: "Cera Pro";
  font-size: 18px;
  font-weight: 900 !important;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}
.nav-icon img {
  margin-right: 6px;
}

.nav-button {
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  background-color: #46a358;
  padding: 10px 18px;
  border-radius: 6px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.nav-button img {
  margin-right: 6px;
}

.header {
  margin-top: 80px;
}
.header__wrape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #3d3d3d;
  font-family: Cera Pro;
}
.header__text-base {
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;
}
.header__text-base span {
  color: #46a358;
}
.header-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1em;
}
.header-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  max-width: 557px;
}
.header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-button a {
  color: #fff;
  background-color: #46a358;
  padding: 15px 26px;
  margin-top: 44px;
  border-radius: 6px;
}