@import '../assets/front/cate_Pro/stylesheet.css';
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h1, h3, h4, h5, h6, p {
  font-size: inherit;
}

input, button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

button, input[type=submit] {
  background: none;
  cursor: pointer;
}

body {
  font-family: "Aileron";
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

.conteiner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.conteiner--fluid {
  max-width: unset;
  width: 100%;
}
.conteiner--no-pading {
  padding: 0;
}

* {
  background-repeat: no-repeat;
}

@media only screen and (max-width: 450px) {
  .conteiner {
    max-width: 450px;
  }
}
.nav-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.1px solid rgba(70, 163, 88, 0.5019607843);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #3d3d3d;
}

.nav__mid-list .nav-list {
  margin-right: 51px;
  -webkit-transition: border-bottom 0.1s ease-out, font-weight 0.1s ease-out;
  transition: border-bottom 0.1s ease-out, font-weight 0.1s ease-out;
}
.nav__mid-list .nav-list:hover {
  font-weight: 700;
  -webkit-transition: border-bottom 0.1s ease-out, font-weight 0.1s ease-out;
  transition: border-bottom 0.1s ease-out, font-weight 0.1s ease-out;
  border-bottom: 3px solid #46a358;
}
.nav__mid-list .nav-list:last-child {
  margin-right: 0px;
}

.nav__right-list .nav-list {
  margin-right: 30px;
}
.nav__right-list .nav-list:last-child {
  margin-right: 0px;
}

.nav__mid-list,
.nav__right-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-icon {
  color: #46a358;
  font-family: "Cera Pro";
  font-size: 18px;
  font-weight: 900 !important;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}
.nav-icon img {
  margin-right: 6px;
}

.nav-button {
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  background-color: #46a358;
  padding: 10px 18px;
  border-radius: 6px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.nav-button img {
  margin-right: 6px;
}

.header {
  margin-top: 80px;
}
.header__wrape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #3d3d3d;
  font-family: Cera Pro;
}
.header__text-base {
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;
}
.header__text-base span {
  color: #46a358;
}
.header-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1em;
}
.header-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  max-width: 557px;
}
.header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-button a {
  color: #fff;
  background-color: #46a358;
  padding: 15px 26px;
  margin-top: 44px;
  border-radius: 6px;
}

.shop {
  margin-top: 26px;
  font-family: Cera Pro;
}

.shop-wrape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop__categories {
  margin-right: 50px;
}

.shop__categories-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}

.shop__categories-blocks {
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
}

.shop__categories-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 12px;
  color: #3d3d3d;
}
.shop__categories-block:hover {
  color: #46a358;
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
}

.shop__categories-input::-moz-range-track,
input[type=range]::-webkit-slider-runnable-track,
.shop__categories-input::-webkit-slider-runnable-track {
  border: none;
  background: #46a358 !important;
}

.shop__categories-input::-moz-range-thumb,
.shop__categories-input::-webkit-slider-thumb {
  border: solid #fff;
  border-radius: 20px;
  background: #46a358;
}

input[type=range]::-webkit-slider-runnable-track {
  border: none;
  background: #46a358;
  height: 5px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: solid #fff;
  border-radius: 20px;
  background: #46a358;
  margin-top: -4px;
}

.shop__categories__price-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-bottom: 46px;
}

.shop__categories__price-button {
  color: #ffffff;
  background-color: #46a358;
  padding: 11px 26px;
  border-radius: 6px;
  cursor: pointer;
}

.shop__categories__price-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 12px;
}

.shop__categories__size-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}

.shop__categories__size-blocks {
  margin-left: 12px;
}

.shop__categories__size-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  color: #3d3d3d;
  cursor: pointer;
}
.shop__categories__size-block:last-child {
  margin-bottom: 23px;
}
.shop__categories__size-block:hover {
  color: #46a358;
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
}

.shop__sorts {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__sort {
  padding-bottom: 3px;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  color: #3d3d3d;
  -webkit-transition: border-bottom 0.1s ease-out, font-weight 0.1s ease-out;
  transition: border-bottom 0.1s ease-out, font-weight 0.1s ease-out;
}
.shop__sort:hover {
  -webkit-transition: border-bottom 0.1s ease-out, font-weight 0.1s ease-out;
  transition: border-bottom 0.1s ease-out, font-weight 0.1s ease-out;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  color: #46a358;
  border-bottom: 2px solid #46a358;
}

.shop__sort-left {
  min-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop__block {
  margin-bottom: 50px;
  margin-right: 20px;
}

.shop__block-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #3d3d3d;
}

.shop__block-img img {
  background-color: #fbfbfb;
}

.shop__block-price {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  color: #46a358;
  margin-top: 9px;
}

.shop__foter {
  margin-right: 40px;
}

.shop__foter-blocks {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.shop__foter-block {
  margin-left: 10px;
  padding: 10px 15px;
  color: #3d3d3d;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.shop__foter-block-on {
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: #46a358;
}

.findmore__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 95px;
}

.findmore__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../../assets/img/bg.png);
  background-size: cover;
  background-color: #fbfbfb;
  margin-right: 91px;
  border-radius: 5px;
  padding: 10px;
}
.findmore__block:last-child {
  margin-right: 0px;
}

.findmore__block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.findmore__block-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  max-width: 150px;
  text-align: right;
  color: #3d3d3d;
  margin-bottom: 19px;
}

.findmore__block-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 31px;
  color: #727272;
}

.findmore__block-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-color: #46a358;
  padding: 12px 28px;
  border-radius: 6px;
}

.blog-wrape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 130px;
  font-family: Cera Pro;
  font-size: 16px;
  line-height: 16px;
}

.blog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 16px;
  color: #3d3d3d;
  margin-bottom: 19px;
}

.blog-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #727272;
  margin-bottom: 35px;
}

.blog__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.blog__block {
  background-color: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__block-header {
  max-width: 230px;
}

.blog__block-foto {
  margin-bottom: 9px;
}

.blog__block-data {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #46a358;
  margin-bottom: 10px;
}

.blog__block-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #3d3d3d;
  max-width: 189px;
}

.blog__block-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #727272;
  margin-bottom: 12px;
}

.blog__block-readmore {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #3d3d3d;
  margin-bottom: 16px;
}

.footer {
  margin-top: 100px;
}

.footer-wrape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__header {
  padding: 25px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Cera Pro;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
  background-color: #fbfbfb;
}

.footer__header__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__header__block {
  border-right: solid rgba(70, 163, 88, 0.1019607843) 1px;
  padding-right: 40px;
  padding-left: 30px;
}
.footer__header__block:first-child {
  padding-left: 0px;
}
.footer__header__block:last-child {
  border: none;
  padding-right: 0px;
}

.footer__header__block-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: #3d3d3d;
  margin-top: 5px;
  margin-bottom: 15px;
}

.footer__header__block-subtitle {
  max-width: 205px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #727272;
}

.footer__header__request {
  margin-left: 65px;
}

.footer__header__request-title {
  color: #3d3d3d;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 18px;
}

.footer__header__request-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.0588235294);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.0588235294);
  margin-bottom: 16px;
}
.footer__header__request-form input {
  border-radius: 6px 0px 0px 6px;
  padding: 11px 14px;
  padding-right: 42px;
}
.footer__header__request-form input::-webkit-input-placeholder {
  color: #acacac;
}
.footer__header__request-form input::-moz-placeholder {
  color: #acacac;
}
.footer__header__request-form input:-ms-input-placeholder {
  color: #acacac;
}
.footer__header__request-form input::-ms-input-placeholder {
  color: #acacac;
}
.footer__header__request-form input::placeholder {
  color: #acacac;
}

.footer__header__request-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.footer__header__request-link a {
  background-color: #46a358;
  border-radius: 0px 6px 6px 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}

.footer__header__request-subtitle {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  color: #727272;
  max-width: 354px;
}