.footer {
  margin-top: 100px;
}
.footer-wrape {
  display: flex;
  flex-direction: column;
}
.footer__header {
  padding: 25px 23px;
  display: flex;
  font-family: Cera Pro;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  background-color: #fbfbfb;
}
.footer__header__blocks {
  display: flex;
}
.footer__header__block {
  border-right: solid #46a3581a 1px;
  padding-right: 40px;
  padding-left: 30px;
  &:first-child {
    padding-left: 0px;
  }
  &:last-child {
    border: none;
    padding-right: 0px;
  }
}
.footer__header__block-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: #3d3d3d;
  margin-top: 5px;
  margin-bottom: 15px;
}
.footer__header__block-subtitle {
  max-width: 205px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #727272;
}
.footer__header__request {
  margin-left: 65px;
}
.footer__header__request-title {
  color: #3d3d3d;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 18px;
}
.footer__header__request-form {
  display: flex;
  box-shadow: 0px 0px 20px 0px #0000000f;
  margin-bottom: 16px;
  input {
    border-radius: 6px 0px 0px 6px;
    padding: 11px 14px;
    padding-right: 42px;
    &::placeholder {
      color: #acacac;
    }
  }
}
.footer__header__request-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  a {
    background-color: #46a358;
    border-radius: 0px 6px 6px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
  }
}
.footer__header__request-subtitle {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  color: #727272;
  max-width: 354px;
}
.footer__main {
  border-top: solid rgba(70, 163, 88, 0.2) 1px;
  border-bottom: solid rgba(70, 163, 88, 0.2) 1px;
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 400;

  background: #46a3581a;
  padding: 15px 23px;
}
.footer__main-logo {
  color: #46a358 !important;
  font-size: 18px !important;
  font-weight: 900 !important;
  line-height: 70px !important;
  letter-spacing: 0em !important;

  text-transform: uppercase;
  img {
    margin-right: 6px;
  }
}
.footer__main-blocks {
  display: flex;
  justify-content: space-between;
  max-width: 910px;
  color: #3d3d3d;
}
.footer__main-block {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 210px;
  img {
    margin-right: 10px;
  }
}
.footer__about {
  padding: 32px 23px;
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #3d3d3d;
  justify-content: space-between;
  display: flex;
}
.blood {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}
.footer__about-blocks {
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}
.footer__about-block {
  display: flex;
  justify-content: space-between;
  margin-right: 160px;
  &:last-child {
    margin-right: 0px;
  }
  ul {
    li {
      min-width: 130px;
    }
  }
}
.about__social-blocks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.about__social-block-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}
.footer__about-creator {
  display: flex;
  justify-content: center;
  opacity: 0.45;
}
