.shop {
  margin-top: 26px;
  font-family: Cera Pro;
}
.shop-wrape {
  display: flex;
}
.shop-blocks {
  display: flex;
  flex-wrap: wrap;
}
.shop__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shop__categories {
  margin-right: 50px;
}
.shop__categories-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}
.shop__categories-blocks {
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
}
.shop__categories-block {
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
  color: #3d3d3d;
  &:hover {
    color: #46a358;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
  }
}
.shop__categories-input::-moz-range-track,
input[type='range']::-webkit-slider-runnable-track,
.shop__categories-input::-webkit-slider-runnable-track {
  border: none;
  background: #46a358 !important;
}
.shop__categories-input::-moz-range-thumb,
.shop__categories-input::-webkit-slider-thumb {
  border: solid #fff;
  border-radius: 20px;
  background: #46a358;
}
input[type='range']::-webkit-slider-runnable-track {
  border: none;
  background: #46a358;
  height: 5px;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: solid #fff;
  border-radius: 20px;
  background: #46a358;
  margin-top: -4px;
}
.shop__categories__price-buttons {
  display: flex;
  margin-top: 16px;
  margin-bottom: 46px;
}
.shop__categories__price-button {
  color: #ffffff;
  background-color: #46a358;
  padding: 11px 26px;
  border-radius: 6px;
  cursor: pointer;
}

.shop__categories__price-header {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}
.shop__categories__size-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}
.shop__categories__size-blocks {
  margin-left: 12px;
}
.shop__categories__size-block {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  color: #3d3d3d;

  &:last-child {
    margin-bottom: 23px;
  }
  cursor: pointer;
  &:hover {
    color: #46a358;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
  }
}
.shop__sorts {
  justify-content: space-between;
  display: flex;
}
.shop__sort {
  padding-bottom: 3px;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  color: #3d3d3d;
  transition: border-bottom 0.1s ease-out, font-weight 0.1s ease-out;
  &:hover {
    transition: border-bottom 0.1s ease-out, font-weight 0.1s ease-out;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    color: #46a358;
    border-bottom: 2px solid #46a358;
  }
}
.shop__sort-left {
  min-width: 260px;
  display: flex;
  justify-content: space-between;
}
.shop__block {
  margin-bottom: 50px;
  margin-right: 20px;
}
.shop__block-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #3d3d3d;
}
.shop__block-img {
  img {
    background-color: #fbfbfb;
  }
}
.shop__block-price {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  color: #46a358;
  margin-top: 9px;
}
.shop__foter {
  margin-right: 40px;
}
.shop__foter-blocks {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  display: flex;
  justify-content: right;
}
.shop__foter-block {
  margin-left: 10px;
  padding: 10px 15px;

  color: #3d3d3d;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
.shop__foter-block-on {
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: #46a358;
}
